<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> {% block title %} {% endblock %} </title>

    {% block style %}

    <script> src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"</script>
    <script> src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"</script>
    <!-- Latest compiled and minified CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    {% endblock %}



</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>