/* General Styling */
.container {
    max-width: 95%;
    margin: 0 auto;
    background: white;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

h1 {
    margin-left: 2%;
    font-size: 30px;
    margin-top: 155px;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #53649c;
    color: #d1d1d1;
    font-weight: bold;
}


th:nth-child(2), td:nth-child(2) {
    font-weight: bold;  /* This line makes the 2nd column's text bold */
}

/* Column-Specific Widths */
.request-no,
.status {
    width: 50px;
}

.medicine-name {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.quantity {
    width: 50px;
    text-align: center; /* Centers the text horizontally */
    vertical-align: middle; /* Centers the text vertically within the cell */
}

.request-date,
.approved-by,
.approval-date {
    width: 100px;
}

.actions {
    width: 180px;
    text-align: center;
}

.request-no, .actions {
    text-align: center; /* Centers the text horizontally */
    vertical-align: middle; /* Centers the text vertically */
}


/* Buttons */
button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

button:hover {
    opacity: 0.9;
}

/* Specific Button Styles */
.accept-button {
    background-color: #388E3C;
    color: white;
}

.accept-button:hover {
    background-color: #004e11;
}

.reject-button {
    background-color: #d32f2f;
    color: white;
}

.reject-button:hover {
    background-color: darkred;
}

.delete-button {
    background-color: #6c757d;
    color: white;
}

.delete-button:hover {
    background-color: #5a6268;
}

/* Green font color for approved requests */
.approved-status {
    color: #388E3C;  /* Green */
}

/* Red font color for rejected requests */
.rejected-status {
    color: #d32f;  /* Red */
}

/* Apply the status-approved and status-rejected classes to the table cells */
#medicine-request-list td.status-approved {
    color: #388E3C;
}

#medicine-request-list td.status-rejected {
    color: #d32f;
}
