.user-profile {
    display: flex;
    align-items: center;
}

.container {
    max-width: 95%;
    margin: 0px auto;
    background: white;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 0px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #53649c;
    color: #d1d1d1;
}

th:nth-child(2), td:nth-child(2) {
    font-weight: bold;
}

h1 {
    margin-left: 2%;
    font-size: 30px;
    margin-top: 155px;
}

#add-button {
    background-color: #0056b3;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 82%;
}

.view-button {
    background-color: #388E3C; 
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.edit-button {
    background-color: #0d4e84; 
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.delete-button {
    background-color: #d32f2f; 
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-button:hover {
    background-color: #002244;
}

.view-button:hover {
    background-color: #004e11; 
}

.edit-button:hover {
    background-color: #002244; 
}

.delete-button:hover {
    background-color: darkred;
}

button.remove {
    background-color: red;
}

button.remove:hover {
    background-color: darkred;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 2004;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 450px;
    border-radius: 5px;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: #012d74;
    text-decoration: none;
    cursor: pointer;
}

.form-group {
    margin-bottom: 15px;
}

/* Input and Select Styles */
input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: none;
}

/* Form Action and Submit Button */
.form-action {
    display: flex;
    justify-content: flex-start;
}

.btn-submit {
    background-color: #28a745;
}

.btn-submit:hover {
    background-color: #218838;
}
