{% extends 'base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block head %}
<!-- Additional head content like extra CSS or scripts can go here -->
{% endblock %}

{% block body %}
    <!-- New Top Bar -->
    <div class="top-bar">
        <div class="top-nav">
            <a href="{{ url_for('admin_dashboard') }}">Dashboard</a>
            <a href="{{ url_for('admin_supplier') }}">Supplier</a>
            <a href="{{ url_for('admin_requisition') }}">Requisition</a>
        </div>
    </div>
{% endblock %}
