<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Logistics{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap" rel="stylesheet">
    
    {% block head %}{% endblock %}
</head>
<body>
    <header class="header">
        <div class="menu-logo">
            <img class="syncore-logo" src="{{ url_for('static', filename='images/syncore-main.png') }}" alt="Company Logo">
        </div>
        <div class="user-profile">
            <div class="user-info">
                <p>{{ username }}</p>
                <span>{{ role }}</span>
            </div>
            <div class="user-dropdown">
                <!-- Combined the image and triangle into one action -->
                <img src="{{ url_for('static', filename='images/User_icon.png') }}" alt="User Icon" onclick="toggleDropdown()">
                <div class="triangle" onclick="toggleDropdown()"></div> <!-- Add action to the triangle -->
                <div class="dropdown-content">
                    <a href="#">
                        Profile
                        <img src="{{ url_for('static', filename='images/profile_icon.png') }}" alt="Profile Icon" class="dropdown-icon">
                    </a>
                    <a href="{{ url_for('logout') }}">
                        Logout
                        <img src="{{ url_for('static', filename='images/logout_icon.png') }}" alt="Logout Icon" class="dropdown-icon">
                    </a>
                </div>
            </div>
        </div>
    </header>
    
    <div class="dim-overlay"></div>
    
    <!-- Main content block -->
    {% block body %}
    {% endblock %}

    <!-- Ensure the base JavaScript is loaded -->
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
</body>
</html>
