<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password - SYNCORE</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/forgot_pass.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/Company_Logo.png') }}" alt="Syncore Logo">
        </div>
        <div class="contact-info">
            <p>(123) 456-7890</p>
            <p>info@maclanghospital.com</p>
        </div>
    </div>
    <div class="container">
        <div class="forgot-password-box">
            <h2>Forgot Password</h2>
            <p>Enter your email address below, and we'll send you instructions to reset your password.</p>
            <input type="email" id="emailInput" placeholder="Email Address" required>
            <button id="send-reset-link-button">Send Reset Link</button>
           <div>
    <p class="back-to-login">
        <a href="{{ url_for('login') }}">
            <span class="arrow-back">&#8592;</span> Back to Login
        </a>
    </p>
</div>


    <!-- Popup Message -->
    <div id="popup" class="popup" style="display: none;">
        <div class="popup-content">
            <img src="{{ url_for('static', filename='images/checked.png') }}" alt="Checkmark" class="popup-icon">
            <p class="popup-message">If an account exists with the email you entered, you will receive a password reset link shortly. Please check your inbox and follow the instructions.</p>
            <p class="popup-submessage">For security reasons, we do not disclose whether an email is registered in our system.</p>
            <button class="popup-button" onclick="closePopup()">Back to Login</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/forgot_pass.js') }}"></script>
</body>
</html>